/target/surefire-reports/tests.TestLogin.txt
/target/surefire-reports/TEST-tests.TestLogin.xml
/SeleniumGuidebook.iml
/.idea/misc.xml
/target/test-classes/tests/LoginTest.class
/.idea/jarRepositories.xml
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
